*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

.container__accueil{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

a, ul, .card-body {
    list-style: none;
    text-decoration: none;
    color: black;
}

.produit__info{
    margin-top: 10%;
}

#button__panier{
    margin-left: 45%;
}

.erreur__dans__le__formulaire{
    color: red;
}

.confirmation{
    margin: 15% 5%;
}

.btn-secondary{
    margin-left: 10%;
}

.total{
    margin: 10% 40%;
}

.image__panier{
    width: 50%;
    height: 50%;
    margin-top: 5%;
}

.produit{
    display: flex;
}